*{
    padding: 0;
    margin: 0;
}
.form-control {
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0rem !important;
}
.active {
    background: #66c4ff;
    border-radius: 24px;
}
.active a{
    color: white !important;
}